{% extends "layout.html.twig" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="../assets/style/style.css">
{% endblock %}

{% block title %}
	Réponse
{% endblock %}

{% block body %}
        <header>
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"> <i class="fas fa-arrow-left"></i> Retour a la page d'accueil</a>
                </div>
            </nav>
        </header>


    {% block content  %} 
    <main>
        <p>
                ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
                <br>
                ████▌▄▌▄▐▐▌█████
                <br>

                ████▌▄▌▄▐▐▌▀████
                <br>

                ▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
        </p>
        <p>
                
                / '.        .--.
                <br>
                |   \     .'-,  |
                <br>
                \    \___/    \_/
                <br>
                '._.'   '._.'
                <br>
                    /  . .  \
                    <br>
                    |=  Y  =|
                    <br>
                    \   ^   /
                <br>
                    `'---'`<br>
        </p>

        
    </main>

    
    {% endblock %}


{% endblock %}



