<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

 
    <!-- BOOTSTRAP  -->
    {% block bootstrap %}
        <!-- CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    {% endblock %}



    <!-- Font Awesome  -->
    {% block fontawesome %}
        <script src="https://kit.fontawesome.com/4ad0f6d59d.js" crossorigin="anonymous"></script>
    {% endblock %}

    <!-- script CSS -->
    {% block css %}
     <link rel="stylesheet" type="text/css" href="assets/style/style.css">
    {% endblock %}


    <title>{% block title %}Base HTML{% endblock %}</title>

</head>

<body>
    {% block body %}




    {% endblock %}
    {% block javascript %}
        <script type="text/javascript" src="assets/script/scripts/script.js"></script>
    {% endblock %}
</body>


</html>